@font-face {
    src: url("Rustling-Trees.otf");
}

/* Title */
.title {
    -fx-font-family: "Rustling Trees Regular";
    -fx-text-fill: white;
    -fx-font-size: 9pt;
}


/* Utility Button */
.utility-button {
    -fx-pref-width: 80;
    -fx-pref-height: 80;

    -fx-cursor: default;
}

/* Popup */
.popup {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, grey, 8, 0, 3, 3);
}

/* Colour Target Button */
.colour-target-button {
    -fx-pref-width: 60;
    -fx-pref-height: 60;

    -fx-cursor: default;
}


/* Text Format Button */
.text-style-button {
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-border-color: lightgrey;

    -fx-cursor: default;
}

.text-style-button-group {
    -fx-effect: dropshadow(three-pass-box, lightgrey, 3, 0, 3, 3);
}


/* Canvas */
.canvas {
    -fx-min-width: 2000;
    -fx-min-height: 1000;
    -fx-pref-width: 2000;
    -fx-pref-height: 1000;
    -fx-max-width: 2000;
    -fx-max-height: 1000;

    -fx-background-color: white;
}
