@font-face {
    src: url("Rustling-Trees.otf");
}

/* Title */
.title {
    -fx-font-family: "Rustling Trees Regular";
    -fx-text-fill: white;
    -fx-font-size: 9pt;
}


/* Tool Button */
.utility-button {
    -fx-pref-width: 80;
    -fx-pref-height: 80;

    -fx-cursor: default;
}

/* Canvas */
.canvas {
    -fx-min-width: 600;
    -fx-min-height: 600;
    -fx-max-width: 600;
    -fx-max-height: 600;

    -fx-background-color: white;
}
