@font-face {
    src: url("Rustling-Trees.otf");
}

/* Title */
.title {
    -fx-font-family: "Rustling Trees Regular";
    -fx-text-fill: white;
    -fx-font-size: 9pt;
}


/* Tool Button */
.tool-button {
    -fx-pref-width: 80;
    -fx-pref-height: 80;

    -fx-cursor: default;
}