@font-face {
    font-family: Barlow;
    src: url("Barlow-Regular.ttf");
}

@font-face {
    font-family: Barlow;
    src: url("Barlow-Bold.ttf");
}

@font-face {
    font-family: Barlow;
    src: url("Barlow-Italic.ttf");
}

@font-face {
    font-family: Barlow;
    src: url("Barlow-BoldItalic.ttf");
}

.default-font {
    -fx-font-family: Barlow;
}

/* Alignment */

.align-left * {
    -fx-text-alignment: left;
}

.align-centre * {
    -fx-text-alignment: center;
}

.align-right * {
    -fx-text-alignment: right;
}

.align-justify * {
    -fx-text-alignment: justify;
}


/* Colours */

.colour-pink {
    -fx-fill: pink;
}

.colour-red {
    -fx-fill: red;
}

.colour-dark-red {
    -fx-fill: darkred;
}

.colour-gold {
    -fx-fill: gold;
}

.colour-orange {
    -fx-fill: orange;
}

.colour-indian-red {
    -fx-fill: indianred;
}

.colour-dark-sea-green {
    -fx-fill: darkseagreen;
}

.colour-forest-green {
    -fx-fill: forestgreen;
}

.colour-dark-green {
    -fx-fill: darkgreen;
}

.colour-light-steel-blue {
    -fx-fill: lightsteelblue;
}

.colour-royal-blue {
    -fx-fill: royalblue;
}

.colour-midnight-blue {
    -fx-fill: midnightblue;
}

.colour-plum {
    -fx-fill: plum;
}

.colour-blue-violet {
    -fx-fill: blueviolet;
}

.colour-indigo {
    -fx-fill: indigo;
}

.colour-light-gray {
    -fx-fill: lightgray;
}

.colour-gray {
    -fx-fill: gray;
}

.colour-black {
    -fx-fill: black;
}

.colour-white {
    -fx-fill: white;
}

.colour-transparent {
    -fx-fill: transparent;
}
